/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require angular-material/angular-material
 *= require_tree .
 *= require_self
 */

#content {
  background: #fcfcfc;
}

#hov-panel {
  background-color:rgba(37, 135, 102, 1);
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

#hov-top-panel {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5px;
  background-color:rgba(240, 255, 40, 1);
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  width: 200px;
}

#hov-sub-panel {
  margin: 5px;
  border: 3px solid white;
  border-radius: 5px;
}

#hov-top-sub-panel {
  margin: 5px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 36px;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 20px;
}

#hov-text {
  font-size: 12vw;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 0px;
  line-height: 1em;
  text-align: center;
}

#express-lanes {
  padding-left: 20px;
  font-size: 10vw;;
  line-height: 1em;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 800px) {
  #hov-text {
    text-align: center ;
    font-size: 48px;
  }
  
  #express-lanes {
    text-align: center ;
    font-size: 32px;
  }
  
  #hov-top-panel {
    margin-left: 25%;
    margin-right: 25%;
  }
  
  #hov-panel {
    margin-left: 25% !important;
    margin-right: 25% !important;
  }
}