<!DOCTYPE html>
<html>
  <head>
    <title>HOVDirection</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Angular Material Icons -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>

    <body ng-app="HOVDirection" layout="column" flex>

      <md-content flex layout="column" id="content">
        <div ui-view="main" flex layout="column"></div>
      </md-content>

    </body>

  </body>
</html>
